.active {
  background-color: #ff0092;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
}

a {
  color: #ff0092;
  font-family: 'Cutive Mono', monospace;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Cutive Mono', monospace;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  list-style-type: none;
  float: left;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #000;
}

.posts {
  text-align:left;
}
