.active {
  background-color: #ff0092;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
}

a {
  color: #ff0092;
  font-family: 'Cutive Mono', monospace;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Cutive Mono', monospace;
}

li {
  list-style-type: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  list-style-type: none;
  float: left;
}

nav li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #000;
}

.topnav {
  position: relative;
  overflow: hidden;
  background-color:#FF47AF;
  height:150px;
}

.topnav a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #000;
  color: #ff0092;
}

/*.topnav a*/.active {
  background-color: #ff0092;
  color: #fff;
}

.topnav-centered {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: visible;
}

.topnav-right {
  float:right;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}
