---
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Raleway&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="topnav">
      <div class="topnav-centered">
        <img src=https://userx6.github.io/assets/images/x6.png alt="x6" width="100px">
      </div>
      {% include navleft.html %}
      <div class="topnav-right">
        {% include navright.html %}
      </div>
    </div>

    {{ content }}
  </body>
</html>
